.slogan {
	background-position: ___ ;  
	background-attachment:  ____  ;
	background-image: ____ ;

	color: blue;

	/*center text
	 *make it white
	 *make it have a background image*/

}


#slogan1 {

}

